.userDiv {
    margin: 20px;
    box-shadow: 5px 5px 5px gray;
    padding-left: 25px;
    padding-top: 10px;
    display: flex;
    box-sizing: border-box;

}

.keyDiv {
    font-size: 25px;
    font-family: Arial;
    color: black;

}
.button{
    margin: 40px;
    font-size: 20px;
}

.keysDivWrap{
    width: 170px;
}