.main-div {
    width: 1500px;
    height: 600px;
    background: silver;
    margin: 50px auto;
    padding-top: 25px;
    box-sizing: border-box;
}

.slider {
    width: 1000px;
    height: 500px;
    border: 2px solid black;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 5px;
}

.slider-list {
    display: flex;
    width: 6000px;
    position: relative;
    transition: all ease 0.5s;
    left: 0;
}
.image{
    width: 1000px;
    height: 500px;
}

button{
    width: 100px;
    height: 40px;
}